bbody
{
	color: white;
}

h1
{
	color: black;
}

h2
{
	color: black;
}

h3
{
	color: black;
}

ul
{
	color: black;
}
ol
{
	color: black;
}
p 
{
	color: black;
}

li1
{
	color: red;
}

tr
{
	color: black;
}